
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RIP Fluffhead</title>
</head>
<body>
    <h1>
        Persons and Notes
    </h1>
    {% for person in people %}
    <h2>{{ person.fname }} {{ person.lname }}</h2>
    <ul>
        {% for note in person.notes %}
        <li>
            {{ note.content }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}


    <h1>
        Authors and Books
    </h1>
    {% for author in authors %}
    <h2>{{ author.name }}</h2>
    <ul>
        {% for book in author.books %}
        <li>
            {{ book.title }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}


    <h1>
        Projects and Sites
    </h1>
    
</body>
</html>
